.banner {
  color: $color-default-white;
  position: relative;
  width: 100%;
  min-height: 650px;
  top: -108px;
  margin: 0 auto;
  background-color: #00437c;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;

  @include retina {
    background-image: url("../img/header-bg@2x.jpg");
  }

  @include vp-1023 {
    min-height: 638px;
    top: -52px;
    background-image: url("../img/header-bg-tablet.jpg");

    @include retina {
      background-image: url("../img/header-bg-tablet@2x.jpg");
    }
  }

  @include vp-767 {
    top: -158px;
    background-image: url("../img/header-bg-mobile.jpg");

    @include retina {
      background-image: url("../img/header-bg-mobile@2x.jpg");
    }
  }
}

.banner__content {
  padding-top: 271px;
  padding-left: 198px;
  padding-bottom: 15px;

  @include vp-1023 {
    padding-top: 270px;
    padding-left: 45px;
  }

  @include vp-767 {
    padding-top: 315px;
    padding-left: 15px;
  }
}

.banner__content h1 {
  color: $color-default-white-text;
  font-size: 54px;
  line-height: 66px;
  font-weight: 700;
  margin: 0;

  @include vp-1023 {
    padding-left: 0;
    font-size: 50px;
    line-height: 61px;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 45px;
  }
}

.banner__content p {
  color: $color-default-white-text;
  padding-top: 11px;
  margin: 0;
  max-width: 600px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;

  @include vp-1023 {
    padding-top: 12px;
    font-size: 18px;
    line-height: 22px;
  }

  @include vp-767 {
    font-size: 16px;
    padding-top: 10px;
  }
}
