.main-nav {
  color: $color-default-white;

  @include vp-320 {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}

.main-nav__list {
  display: flex;
  justify-content: right;
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-320 {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    min-height: 299px;
    padding: 77px 15px 15px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: $color-default-text;
    background-color: $color-default-bg;
  }
}

.main-nav__item {
  @include vp-320 {
    padding: 11px 0 10px;

    &--destinations {
      order: -1;
    }
  }
}

.main-nav__link {
  padding-left: 33px;
  font-size: 16px;
  font-weight: 500;
  color: $color-default-white-text;
  line-height: 20px;

  @include vp-768 {
    font-size: 14px;
    line-height: 17px;
    padding-left: 23px;
  }

  @include vp-320 {
    font-size: 18px;
    line-height: 22px;
    color: $color-default-text;
  }
}

.main-nav__toggle {
  display: none;
  @include vp-320 {
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    top: 7px;
    right: 0px;
    display: block;
    width: 24px;
    height: 2px;
    padding: 0;
    background-color: $color-alice-blue;
    border: none;
    outline: none;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      display: block;
      position: relative;
      width: 24px;
      height: 2px;
      right: 0;
      background-color: $color-alice-blue;
    }

    &::before {
      top: -6px;
    }

    &::after {
      top: 4px;
    }
  }

  .main-nav--opened .main-nav__toggle {
    @include vp-320 {
      right: 0px;
      z-index: 10;
      width: 19px;
      background-color: $color-default-text;
      transform: rotate(45deg);

      &::before {
        top: 0;
        width: 19px;
        background-color: $color-default-text;
        transform: rotate(90deg);
      }

      &::after {
        display: none;
      }
    }
  }

  .main-nav--nojs .main-nav__toggle {
    @include vp-320 {
      display: none;
    }
  }

  .main-nav--nojs .main-nav__list {
    @include vp-320 {
      position: relative;
      display: flex;
    }
  }

  .main-nav--nojs .page-header__logo {
    @include vp-320 {
      fill: black;
    }
  }

  .main-nav--opened .main-nav__list {
    @include vp-320 {
      position: absolute;
      display: flex;
      top: 0;
    }
  }

  .main-nav--opened .page-header__logo {
    @include vp-320 {
      fill: black;
    }
  }

  .main-nav--closed .main-nav__list {
    @include vp-320 {
      display: none;
    }
  }
}
