.main-nav {
  color: $color-default-white;

  @include vp-320 {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}

.main-nav__list {
  display: flex;
  justify-content: right;
  margin: 0;
  padding: 0;
  list-style: none;


}

.main-nav__link {
  padding-left: 33px;
  font-size: 16px;
  font-weight: 500;
  color: $color-default-white-text;
  line-height: 20px;

  &:hover {
    color: $color-solitude;
  }

  &:focus {
    color: $color-solitude;
  }

  &:active {
    color: $color-alice-blue;
  }

  @include vp-768 {
    font-size: 14px;
    line-height: 17px;
    padding-left: 23px;
  }

  @include vp-320 {
    font-size: 18px;
    line-height: 22px;
    color: $color-default-text;
  }
}

.main-nav__item {
  @include vp-320 {
    padding-bottom: 20px;
  }
}

.main-nav__toggle {
  display: none;
  @include vp-320 {
  position: absolute;
  top: 0px;
  right: 0;
  display: block;
  width: 24px;
  height: 2px;
  cursor: pointer;
  border: none;
  background-color: $color-default-bg;
  z-index: 3;

  &:focus-visible {
    outline: 2px solid $color-default-bg;
  }
  }
}


.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: $color-default-bg;
}

.main-nav--closed .main-nav__toggle::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 18px;
  border-top: 2px solid $color-default-bg;
  border-bottom: 2px solid $color-default-bg;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: $color-default-text;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@include vp-320 {
  .main-nav--opened img {
    display: none;
  }

  .main-nav--opened .main-nav__list {
    position: absolute;
    top: -20px;
    right: -15px;
    list-style: none;
    z-index: 2;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: $color-default-text;
    background-color: $color-default-bg;
    width: 285px;
    height: 500px;
    padding-top: 75px;
    background-image: url("../img/svg/logo_menu.svg");
    background-repeat: no-repeat;
    background-position: right 228px top 20px;

  }

  .main-nav--closed .main-nav__item {
    display: none;
  }

  .main-nav--nojs .main-nav__item {
    display: block;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    position: static;
  }
}
