.reservation {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 555px;
  color: $color-default-text;
  background-color: $color-solitude;
  background-image: url("../img/bg-form.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @include retina {
    background-image: url("../img/bg-form@2x.png");
  }

  @include vp-768 {
    min-height: 805px;
    background-image: url("../img/bg-form-tablet.png");

    @include retina {
      background-image: url("../img/bg-form-tablet@2x.png");
    }
  }

  @include vp-425 {
    position: relative;
    top: -100px;
    padding-top: 0;
    min-height: 760px;
    background-image: url("../img/bg-form-mobile.png");

    @include retina {
      background-image: url("../img/bg-form-mobile@2x.png");
    }
  }
}

.reservation__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 163px;

  @include vp-768 {
    flex-direction: column;
    align-items: center;
  }

  @include vp-320 {
    padding: 0;
  }
}

.reservation__info {
  padding-top: 130px;
  padding-right: 30px;

  @include vp-768 {
    padding: 0;
    margin-bottom: 52px;
  }

  @include vp-320 {
    margin-bottom: 34px;
  }
}

.reservation__info h2 {
  margin-bottom: 0;
  font-size: 40px;
  line-height: 60px;
  font-weight: 700;

  @include vp-768 {
    margin: 0 auto;
    padding-top: 39px;
    font-size: 34px;
    line-height: 51px;
    text-align: center;
  }

  @include vp-320 {
    max-width: 194px;
    margin: 0 auto;
    padding-top: 58px;
    font-size: 24px;
    line-height: 31px;
  }
}

.reservation__info p {
  padding-top: 10px;
  margin: 0;
  max-width: 352px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;

  @include vp-768 {
    margin: 0 auto;
    text-align: center;
    padding-top: 4px;
  }

  @include vp-320 {
    margin: 0 auto;
    padding-top: 15px;
    max-width: 265px;
    font-size: 16px;
    line-height: 22px;
  }
}

.reservation__form {
  max-width: 403px;
  min-height: 455px;
  padding: 44px 50px;
  background-color: $color-form-bg;

  @include vp-320 {
    max-width: 290px;
    min-height: 460px;
    padding: 40px 30px 40px;
  }
}
